.container
{
 color: black;
 text-align: center;
 height: 100%;
 transition: 2s ease-in-out;
}

.container:hover 
{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.background {
    background-image: url("AdobeStock_170806879.jpeg");
    opacity: 70%;
    min-height: 88%; 
    height: 88%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-size: 50px;
    color: white;
    opacity: 0;
    transition: 1s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 55%;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
}

.container:hover .title {
    opacity: 100%;
}
